
        #first{
            background-color: aquamarine;
        }
        .bg-blue{
            background-color: blue;
            color: beige;
        }
        h1{
            color: blueviolet;
        }
        #rrr , h3{
            background-color: blue;
        }
        .blue{
            color: aquamarine; background: #000;
        }